table,th,td{
    padding: 5px;
    background-color: gainsboro;
}
table{
    height: 100%;
    width: 100%;
    border-spacing: 30px;
}
th{
    text-align: left;
    border-bottom: 2px solid rgb(3, 179, 179);
    color: rgb(3, 179, 179);
    font-size: 24px;
}
td:hover{
    color:rgb(3, 179, 179);
}
.app{
    width: 150px;
    height: 50px;
}